@import "abstracts/colors";
@import "abstracts/fonts";

*{
    margin: 0;
    padding: 0;
    // border: 1px solid red;
}
// body{
//     background-color: #eee;
// }
header{
    background-color: $Header-grey;
    .header-container{
        max-width: 1200px;
        margin: auto;
        display: flex;
        padding: 50px;
        #logo-container{
            width: 250px;
            img{
                width: 100%;
            }
        }
        hgroup{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 2em;
            line-height: 4em;
            h1{
                @include headlineFontPrimary;
                text-transform: uppercase;
                font-size: 3.5vw;
                letter-spacing: -5px;

            }
            h2{
                @include headlineFontSecondary;
                text-transform: capitalize;
                font-size: 2.23vw;
            }
        }
    }
}
#mother{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    box-sizing: border-box;
    .card{
        border-radius: 20px;
        width: 300px;
        aspect-ratio: 1/1;
        .card-container{
            display: flex;
            flex-direction: column;
            .card-top{
                display: flex;
                padding: 1em;
                .number{
                    color: $Card-text-color;
                    @include headlineFontSecondary;
                    font-size: 3vw;
                }
                h4{
                    @include headlineFontPrimary;
                    color: $Card-text-color;
                    font-size: 1vw;
                    align-self: center;
                    margin-left: 1em;
                    text-transform: uppercase;
                    line-height: 1.2em;
                }
            }
            .card-middle{
                display: flex;
                justify-content: center;
                .card-img{
                    width: 100px;
                    img{
                        display: block;
                        width: 100%;
                        filter: invert(1);
                    }
                }
            }
        }
    }
    .card-detail{
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        h1{
            @include headlineFontPrimary;
            color: $Card-text-color;
            font-size: 3vw;
            text-align: center;
            text-transform: capitalize;
        }
        h2{
            @include headlineFontSecondary;
            color: $Card-text-color;
            text-align: center;
            font-size: 1.5vw;
        }
        .icons{
            display: block;
            width: 20vw;
            margin-left: auto;
            margin-right: auto;
            filter: invert(1);
        }
        .images{
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            margin-top: 1em;
            width: 75%;
            height: auto;
        }
        p{
            @include bodyFontPrimary;
            color: $Card-text-color;
            padding: 40px;
            font-size: 1vw;
        }
    }
    .targets{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
            // background-color: $Header-grey;
            margin-bottom: 1em;
            border: 1px solid $Icon-border;
            border-radius: 20px;
            padding: 20px;
            h3{
                @include headlineFontSecondary;
                font-size: 1.5vw;
                color: $Card-text-color;

            }
            p{
                @include bodyFontSecondary;
                font-size: 1vw;
            }
        }
    }
}