@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Balinese:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(241, 241, 241);
}
header .header-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding: 50px;
}
header .header-container #logo-container {
  width: 250px;
}
header .header-container #logo-container img {
  width: 100%;
}
header .header-container hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
  line-height: 4em;
}
header .header-container hgroup h1 {
  font-family: "Noto Sans Balinese", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.5vw;
  letter-spacing: -5px;
}
header .header-container hgroup h2 {
  font-family: "Noto Sans Balinese", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 2.23vw;
}

#mother {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  box-sizing: border-box;
}
#mother .card {
  border-radius: 20px;
  width: 300px;
  aspect-ratio: 1/1;
}
#mother .card .card-container {
  display: flex;
  flex-direction: column;
}
#mother .card .card-container .card-top {
  display: flex;
  padding: 1em;
}
#mother .card .card-container .card-top .number {
  color: white;
  font-family: "Noto Sans Balinese", sans-serif;
  font-weight: 400;
  font-size: 3vw;
}
#mother .card .card-container .card-top h4 {
  font-family: "Noto Sans Balinese", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1vw;
  align-self: center;
  margin-left: 1em;
  text-transform: uppercase;
  line-height: 1.2em;
}
#mother .card .card-container .card-middle {
  display: flex;
  justify-content: center;
}
#mother .card .card-container .card-middle .card-img {
  width: 100px;
}
#mother .card .card-container .card-middle .card-img img {
  display: block;
  width: 100%;
  filter: invert(1);
}
#mother .card-detail {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
#mother .card-detail h1 {
  font-family: "Noto Sans Balinese", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 3vw;
  text-align: center;
  text-transform: capitalize;
}
#mother .card-detail h2 {
  font-family: "Noto Sans Balinese", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 1.5vw;
}
#mother .card-detail .icons {
  display: block;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  filter: invert(1);
}
#mother .card-detail .images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 1em;
  width: 75%;
  height: auto;
}
#mother .card-detail p {
  font-family: "Rubik", sans-serif;
  font-style: 300;
  color: white;
  padding: 40px;
  font-size: 1vw;
}
#mother .targets {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#mother .targets li {
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}
#mother .targets li h3 {
  font-family: "Noto Sans Balinese", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  color: white;
}
#mother .targets li p {
  font-family: "Rubik", sans-serif;
  font-style: 600;
  font-size: 1vw;
}/*# sourceMappingURL=main.css.map */